{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load endless %}

{% block head_title %}{% trans "create project" %}{% endblock %}
{% block breadcrumb %}
<!--<a href="/project/create/">创建项目</a><span class="divider">/</span>-->
<a href="/project/detail/{{ project.id }}/">项目详情</a><span class="divider">/</span>
Slice列表
{% endblock %}

{% block body %}
{% paginate slices %}
    <div class="fill_form">
        <fieldset>
             <legend><button type="button" class="btn btn-info edit" onclick="document.location='/project/detail/{{ project.id }}/'">返 回</button>我的Slice</legend>
             <div class="row-fluid">
             {% for group in slices|group_by:4 %}
             <ul class="thumbnails example-sites">
		         {% for slice in group %}
		              {% include "slice/_slice.html" %}
		         {% endfor %}
		     </ul>
		     {% endfor %}
		     </div>
         </fieldset>
    </div>
    <div class="pagination">
        <ul>
            {% show_pages %}
        </ul>
    </div>
{% endblock %}
{% block extra_script %}
{% endblock %}