{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load project_tags %}

{% block head_title %}
{% trans "Project Detail" %} [{{ project.name }}]
{% endblock %}
{% block breadcrumb %}
<li class="active">{% trans "Project Detail" %}</li>
{% endblock %}

{% block body %}
<div class="fill_form">
<fieldset>
    <legend><a href="{% url project_edit project.id %}" class="btn btn-info edit">{% trans "Edit" %}</a>{% trans "Basic info" %}</legend>
    <table class="table table-striped table-hover">
       <thead>
            <tr>
                <th width="25%">{% trans "Project Name" %}</th>
                <th width="35%">{% trans "Project Description" %}</th>
                <th width="25%">{% trans "Creator" %}</th>
                <th width="15%">{% trans "Category" %}</th>
            </tr>
        </thead>  
        <tbody>   
               <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.owner }}</td>
                    <td><span class="label label-success">{{ project.category }}</span></td>
               </tr>    
            <!--    <tr>
                    <td width="71">{% trans "Project Name" %}：</td>
                    <td>
                        {{ project.name }}
                    </td>
                </tr>
                <tr>
                    <td width="71">{% trans "Project Description" %}：</td>
                    <td>{{ project.description }}</td>
                </tr>
                <tr>
                    <td width="71">
                        {% trans "Creator" %}：
                    </td>
                    <td>
                        {{ project.owner }}
                    </td>
                </tr>
                <tr>
                    <td width="71">
                        {% trans "Category" %}：
                    </td>
                    <td>
                        <span class="label label-success">{{ project.category }}</span>
                    </td>
                </tr>
                <tr>
                    <td width="71">
                        {% trans "Selected Islands" %}：
                    </td>
                    <td>
                        {% for island in project.islands.all %}
                            {{ island.name }}
                        {% endfor %}
                    <td>
                </tr>   -->
        </tbody>
    </table>
</fieldset>
<fieldset id="name">   
    <legend>
        <a href="{% url project_applicant project.id  %}" class="btn btn-info edit">{% trans "View pending members" %}</a>
        <a href="{% url project_invite project.id %}" class="btn btn-info edit">{% trans "Invite members" %}</a>
   {% trans "Members" %}
    </legend>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th width="20%">{% trans "No." %}</th>
                    <th width="30%">{% trans "Member name" %}</th>
                    <th width="30%">{% trans "Company/Organization" %}</th>
                    <th width="20%">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for membership in project.membership_set.all %}
            <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ membership.user }}</td>
                    <td>{{ membership.user }}</td>
                    <td>
                        {% if not membership.is_owner %}
                        <a href="{% url project_delete_member membership.id  %}" class="btn btn-info btn-delete">{% trans "Remove" %}</a>
                        {% endif %}
                    </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
</div>
<a class="edit view_more" href="#">More&nbsp;<i class="icon-caret-right"></i></a>
</fieldset>
  <div class="row-fluid sep_div">
    <div class="span12"><a href="{% url create_slice project.id %}" class="btn btn-large btn-block btn-info">创建Slice</a></div>
  </div>
  <fieldset>
      <legend>
          {% if  project.slice_set.count > 4%}
            <button type="button" class="btn btn-link edit" onclick="document.location='/slice/list/{{ project.id }}/'">更多>></button>
          {% endif %}
          Slice
      </legend>        
        <div class="row-fluid">
             <ul class="thumbnails example-sites">
		         {% for slice in project.slice_set.all %}
		         {% if forloop.counter <= 4  %}
		               {% include "slice/_slice.html" %}
		         {%endif%}
		         {% endfor %}
		     </ul>
		     </div>
		     <a class="edit view_more" href="#">More&nbsp;<i class="icon-caret-right"></i></a>
  </fieldset>
  </div>
{% endblock %}
{% block extra_script %}

<script type="text/javascript" charset="utf-8">
</script>
{% endblock %}
