{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}
{% load endless %}

{% block head_title %}成员邀请{% endblock %}
{% block breadcrumb %}
<a href="{% url "project_detail" project.id %}">项目详情</a><span class="divider">/</span>
成员邀请
{% endblock %}

{% block body %}
{% paginate users %}
        <div class="fill_form">
            <div class="search">
                <form class="form-search">
                  <div class="input-append">
                    <input type="text" name="query" value="{{ query }}" class="span2 search-query">
                    <button type="submit" class="btn">搜索</button>
                  </div>
                </form>
            </div>
        </div>
        <form action="" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <fieldset>
                 <legend><a data-toggle="modal" href="#inviteModal" class="btn btn-info edit">邀请</a>邀请成员</legend>
                 <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="5%" class="checkall"><input type="checkbox"></th>
                            <th width="15%">成员名称</th>
                            <th width="35%">所属单位</th>
                        </tr>
                    </thead>
                    <tbody class="checkboxs">
                        {% for user in users %}
                        <tr>
                            <td><input type="checkbox" name="user" value="{{ user.id }}" ></td>
                            <td>{{ user }}</td>
                            <td></td>                         
                        </tr>
                        {% endfor %}
                    </tbody>
                 </table>
              </fieldset>
              {% if not users %}
              <p class="alert alert-info">抱歉，没有找到任何相关的结果</p>
              {% endif %}
        <div class="pagination">
          <ul>
              {% show_pages %}
          </ul>
        </div>
        <div class="form-actions">
          <div class="row-fluid">
            <div class="span4"></div>
            <div class="span4"><button type="button" onclick="window.history.back();" class="btn btn-info btn-large btn-block">返 回</button></div>
            <div class="span4"></div>
          </div>
        </div>
        <div id="inviteModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
              <h3 id="myModalLabel">邀请</h3>      
            </div>
            <div class="modal-body base_info">
                  <table class="table">
                      <tbody>
                          <tr>
                              <td width="150" class="v_top text_r">捎句话</td>
                              <td><textarea name="message" rows="3"></textarea></td>
                          </tr>
                      </tbody>
                  </table>
            </div>
            <div class="modal-footer">
              <button class="btn btn-info" data-dismiss="modal">取消</button>
              <button class="btn btn-info">提交邀请</button>
            </div>
         </div>
        </form>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
{% endblock %}

