{% extends "site_base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}项目管理{% endblock %}
{% block breadcrumb_base %}{% endblock %}

{% block body_class %}home index{% endblock %}

{% block body_base %}
{% include "_messages.html" %}
{% block body %}
<div class="well banner">
    <header class="jumbotron masthead">
      <div class="inner">
        <p><img src="{{ STATIC_URL}}img/banner-word.png" width="726" height="119" /></p>
        <p class="enter_btn">
          <a href="{% url "project_apply" %}" class="btn">参与项目</a>
          <a href="{% url "project_create" %}" class="btn btn-warning">创建项目</a>
        </p>
      </div>
</header>
</div>
<div class="container-fluid pro_manage_container">
<div class="row-fluid">
                 <div class="alert alert-block nothing_tip">
                     <h4>没有已创建的项目,请通过上方"创建项目"按钮进行创建！</h4>
                </div>
                 <ul class="thumbnails example-sites">
                    {% for project in projects %}
                        {% include "project/_project.html" %}
                    {% endfor %}
                  </ul>
                  {% if projects|length == 4 %}
                  <a class="edit view_more" href="{% url "project_index" %}">More&nbsp;<i class="icon-caret-right"></i></a>
                  {% endif %}
</div>
</div>
            <div class="push"></div>
{% endblock %}
{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL}}js/close_project.js"></script>
{% endblock %}

