{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "create project" %}{% endblock %}
{% block breadcrumb %}<a href="#">创建项目</a><span class="divider">/</span><a href="#">项目详情</a><span class="divider">/</span><a href="#">创建Slice</a><span class="divider">/</span>Slice详情{% endblock %}

{% block body %}
		<div class="fill_form form-wizard">
			  <fieldset class="base_info">
			    <legend>基本信息<a data-toggle="modal" href="#editInfoModal" class="btn btn-primary edit">编辑</a></legend>
			    <table class="table">
			    	<tbody>
			    		<tr>
			    			<td width="50">名称：</td>
			    			<td>slice1</td>
			    		</tr>
			    		<tr>
			    			<td class="v_top">描述：</td>
			    			<td>相信很多前端编程爱好者么都知道，对于一个文本域而言，有时候textarea的控制是非常费脑经的。其中最为难办的一点也许就是怎么控制textarea元素的不可拖动性质。相信很多前端编程爱好者么都知道，对于一个文本域而言，有时候textarea的控制是非常费脑经的。其中最为难办的一点也许就是怎么控制textarea元素的不可拖动性质。</td>
			    		</tr>
			    		<tr>
			    			<td valign="top">节点：</td>
			    			<td>无线谷</td>
			    		</tr>
			    	</tbody>
			    </table>			     
			  </fieldset>
			  <fieldset class="base_info">
			  	 <legend>Slice资源</legend>
			  	 <table class="table">
				 	<tbody>
				 		<tr>
				 			<td width="20%">控制器</td>
				 			<td width="55%">IP：192.168.5.123：6633</td>
				 			<td width="25%"><button type="button" class="btn btn-success start_btn">启动</button><button type="button" class="btn">登录</button><a data-toggle="modal" href="#editSliceModal" class="btn btn-primary">编辑</a></td>
				 		</tr>
				 		<tr>
				 			<td>虚拟网关</td>
				 			<td>IP：192.168.5.124</td>
				 			<td><button type="button" class="btn btn-danger start_btn">停止</button><button type="button" class="btn">登录</button><a data-toggle="modal" href="#editSliceModal" class="btn btn-primary">编辑</a></td>
				 		</tr>
				 		<tr>
				 			<td>DHCP服务器</td>
				 			<td>IP：192.168.5.123</td>
				 			<td><button type="button" class="btn btn-danger start_btn">停止</button><button type="button" class="btn">登录</button><a data-toggle="modal" href="#editSliceModal" class="btn btn-primary">编辑</a></td>
				 		</tr>
				 	</tbody>
				 </table>
				 <table class="table">
				 	<tbody>
				 		<tr>
				 			<td width="20%">VM1</td>
				 			<td width="25%">IP：192.168.5.123</td>
				 			<td width="30%">所属网络节点：192.168.20.6</td>
				 			<td width="25%"><button type="button" class="btn btn-success start_btn">启动</button><button type="button" class="btn">登录</button><button type="button" class="btn btn-inverse">删除</button></td>
				 		</tr>
				 		<tr>
				 			<td>VM2</td>
				 			<td>IP：192.168.5.125</td>
				 			<td>所属网络节点：192.168.20.6</td>
				 			<td><button type="button" class="btn btn-danger start_btn">停止</button><button type="button" class="btn">登录</button><button type="button" class="btn btn-inverse">删除</button></td>
				 		</tr>
				 		<tr>
				 			<td>VM3</td>
				 			<td>IP：192.168.5.126</td>
				 			<td>所属网络节点：192.168.20.7</td>
				 			<td><button type="button" class="btn btn-danger start_btn">停止</button><button type="button" class="btn">登录</button><button type="button" class="btn btn-inverse">删除</button></td>
				 		</tr>
				 		<tr>
				 			<td></td>
				 			<td></td>
				 			<td></td>
				 			<td><a href="#">更多>></a></td>				 			
				 		</tr>
				 	</tbody>
				 </table>
			  </fieldset>
			  <fieldset>
			  	 <legend>Slice拓扑</legend>
			  	 <div class="show_frame">
			  	 	<img src="{% static "img/003.png" %}" style="margin:0 auto;display:block;" />
			  	 </div>
			  </fieldset>
			  <div class="form-actions">
    			  <div class="row-fluid">
    			  	<div class="span4"></div>
    			  	<div class="span4"><button type="submit" class="btn btn-large btn-block btn-success start_btn">启动Slice</button></div>
    			  	<div class="span4"></div>
    			  </div>
			  </div>			 
		</div>
		<div id="editInfoModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
              <h3>Slice基本信息编辑</h3>      
            </div>
            <div class="modal-body">
              <form class="base_info">
                  <table class="table">
                      <tbody>
                          <tr>
                              <td width="150" class="text_r">名称</td>
                              <td><input type="text" /></td>
                          </tr>
                          <tr>
                              <td class="v_top text_r">描述</td>
                              <td><textarea rows="3"></textarea></td>
                          </tr>
                      </tbody>
                  </table>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">取消</button>
              <button class="btn btn-primary">提交申请</button>
            </div>
         </div>
         <div id="editSliceModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
              <h3>SLICE控制器编辑</h3>      
            </div>
            <div class="modal-body">
              <form class="base_info tooltip-demo">
                  <table class="table">
                    <tbody>
                        <tr>
                            <td width="200">
                                <label class="radio tab_radio1">
                                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                                                                                         创建控制器
                                </label>
                            </td>
                            <td width="85">控制器类型</td>
                            <td>
                                <select>
                                  <option>floodlight</option>
                                  <option>pox</option>
                                  <option>nox</option>
                                </select>
                                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="" data-original-title="此处默认创建floodlight控制器"><i class="icon-question-sign icon-align-left"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="radio tab_radio2">
                                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                                                                                         自定义控制器
                                </label>
                            </td>
                            <td>控制器IP端口</td> 
                            <td>
                                <input type="text" disabled>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">取消</button>
              <button class="btn btn-primary">提交申请</button>
            </div>
         </div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
{% endblock %}
