{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
<style>
img {
    max-width:none;
}
</style>
{% endblock %}
{% block body_class %}home{% endblock %}
{% block topbar_base %}{% endblock %}
{% block breadcrumb_base %}{% endblock %}

{% block body %}
       	 <div class="top posit_re">
       	 	<div class="logo">
       		  <img src="{% static "img/logo.png" %}" width="400" align="baseline" />
       	    </div>
       	    <div class="begin_button float_r">
                <a href="{% url "project_manage" %}" class="btn btn-large btn-block btn-inverse">开始实验</a>
       	    </div>
       	 </div>
		
		 <ul id="tabs">
		      <li class="active"><a href="#resource" data-toggle="tab">资源</a></li>
		      <li><a href="#topology" data-toggle="tab">物理拓扑</a></li>   
		 </ul>
       	 
		 <div class="tab-content tab_main">
		   <div class="tab-pane active" id="resource">
		   	 <img src="{% static "img/001.png" %}" style="width:1024px;height:510px;" />
		   </div>
		   <div class="tab-pane" id="topology">..物理拓扑</div>
		 </div>
       
         <section id="dg-container" class="dg-container">
				<div class="dg-wrapper">
					<a href="#"><img src="{% static "img/002.jpg" %}" alt="image01"><div>某某实验拓扑图一</div></a>
					<a href="#"><img src="{% static "img/002.jpg" %}" alt="image02"><div>某某实验拓扑图二</div></a>
					<a href="#"><img src="{% static "img/002.jpg" %}" alt="image03"><div>某某实验拓扑图三</div></a>
					<a href="#"><img src="{% static "img/002.jpg" %}" alt="image04"><div>某某实验拓扑图四</div></a>
				</div>
				<nav>	
					<span class="dg-prev">&lt;</span>
					<span class="dg-next">&gt;</span>
				</nav>
		 </section>
    
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL}}js/modernizr.custom.53451.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.gallery.js"></script>
<script type="text/javascript">
			$(function() {
				$('#dg-container').gallery();
			});
		</script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxQGj0PqsCtxKvarsoS-iqLdqZSKfxRdmoPmGl7Y9335WLC36wIGYa6o5Q&sensor=false" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/markerclusterer.js"></script>
    <script src="{{ STATIC_URL}}js/data.json" type="text/javascript"></script>   
{% endblock %}
