{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
<style>
img {
    max-width:none;

}
.dg-wrapper a div.slice_content {
	display: block;
}
</style>
{% endblock %}
{% block body_class %}home{% endblock %}
{% block topbar_base %}{% endblock %}
{% block breadcrumb_base %}{% endblock %}

{% block body %}
{% block blank_block %}{% endblock %}
       	 <div class="top posit_re">
       	 	<div class="logo">
       		  <img src="{% static "img/logo.png" %}" width="400" align="baseline" />
       	    </div>
       	    <div class="begin_button">
                <a href="{% url "project_manage" %}" class="btn btn-large btn-block btn-inverse">开始实验</a>
       	    </div>
       	 </div>
		
		 <ul id="tabs">
		      <li class="active"><a href="#resource" data-toggle="tab">资源</a></li>
		      <li><a href="#topology" data-toggle="tab">物理拓扑</a></li>   
		 </ul>
       	 
		 <div class="tab-content tab_main" style="height:auto;">
		   <div class="tab-pane active" id="resource">
		   	 <img src="{% static "img/001.png" %}" style="width:1024px;height:510px;" />
		   </div>
           <div class="tab-pane" id="topology">
                <iframe src="/topology/?direct=true&no_parent=true&hide_filter=true" width="100%" height="603px;" frameborder="0">
                </iframe>
           </div>
		 </div>
       
         <section id="dg-container" class="dg-container">
         	<div id="slice_show">
			</div>
		 </section>
    	
    	 <div class="clear" style="display: none" >
				<p id="topology_type">0</p>
				<p id="STATIC_URL">{{STATIC_URL}}</p>
		</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL}}js/modernizr.custom.53451.js"></script>
<script src="{{ STATIC_URL}}js/slice_topology.js"  charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.gallery.js"></script>
<script type="text/javascript">
			$(function() {
				$('#dg-container').gallery();
			});
		</script>
{% endblock %}
