{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "create project" %}{% endblock %}
{% block breadcrumb_base %}
<ul class="breadcrumb">
    <li><span class="icon-home"></span>消息日志</li>
</ul>
{% endblock %}

{% block body %}
        <div class="fill_form">
            <div class="search">
                <div class="form-horizontal search_chose">
                    <label class="control-label">消息类别：</label>                   
                    <select>
                      <option>全部</option>
                      <option>申请反馈</option>
                      <option>被邀请</option>
                      <option>邀请反馈</option>
                      <option>其他</option>
                    </select>                 
                </div>                                                        
                <form class="form-search">
                  <div class="input-append">
                    <input type="text" class="span2 search-query">
                    <button type="submit" class="btn">搜索</button>
                  </div>
                </form>
            </div>
            <div class="clearfix"></div>
            <fieldset>
                 <legend><button type="button" class="btn btn-inverse edit">删 除</button>消息列表</legend>
                 <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="5%" class="checkall"><input type="checkbox"></th>
                            <th width="15%">消息类型</th>
                            <th width="40%">消息内容</th>
                            <th width="15%">发送人</th>
                            <th width="15%">发送时间</th>
                            <th width="10%">操作</th>
                        </tr>
                    </thead>
                    <tbody class="checkboxs">  
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>邀请加入</td>
                            <td>XXX用户邀请您参与XX项目并担任XX角色</td>
                            <td>XX用户</td>
                            <td>XX年XX月XX日</td>
                            <td><button type="button" class="btn btn-primary">处理</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>邀请加入</td>
                            <td>XXX用户邀请您参与XX项目并担任XX角色</td>
                            <td>XX用户</td>
                            <td>XX年XX月XX日</td>
                            <td><button type="button" class="btn btn-primary">处理</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>邀请加入</td>
                            <td>XXX用户邀请您参与XX项目并担任XX角色</td>
                            <td>XX用户</td>
                            <td>XX年XX月XX日</td>
                            <td><button type="button" class="btn btn-primary">处理</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>邀请加入</td>
                            <td>XXX用户邀请您参与XX项目并担任XX角色</td>
                            <td>XX用户</td>
                            <td>XX年XX月XX日</td>
                            <td><button type="button" class="btn btn-primary">处理</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>邀请加入</td>
                            <td>XXX用户邀请您参与XX项目并担任XX角色</td>
                            <td>XX用户</td>
                            <td>XX年XX月XX日</td>
                            <td><button type="button" class="btn btn-primary">处理</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>邀请加入</td>
                            <td>XXX用户邀请您参与XX项目并担任XX角色</td>
                            <td>XX用户</td>
                            <td>XX年XX月XX日</td>
                            <td><button type="button" class="btn btn-primary">处理</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>邀请加入</td>
                            <td>XXX用户邀请您参与XX项目并担任XX角色</td>
                            <td>XX用户</td>
                            <td>XX年XX月XX日</td>
                            <td><button type="button" class="btn btn-primary">处理</button></td>
                        </tr>
                    </tbody>
                 </table>
              </fieldset>
        </div>
        <div class="pagination">
          <ul>
            <li class="disabled"><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>    
        <div id="applyModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>    
              <h3 id="myModalLabel">申请</h3>      
            </div>
            <div class="modal-body">
              <form class="base_info">
                  <table class="table">
                      <tbody>
                          <tr>
                              <td width="150" class="v_top text_r">申请理由</td>
                              <td><textarea rows="3"></textarea></td>
                          </tr>
                          <tr>
                              <td class="text_r">申请角色</td>
                              <td>
                                  <select>
                                      <option>学生</option>
                                      <option>学者</option>
                                      <option>工作人员</option>
                                      <option>自由职业者</option>
                                      <option>教授</option>
                                    </select>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">取消</button>
              <button class="btn btn-primary">提交申请</button>
            </div>           
         </div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
{% endblock %}