{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "create project" %}{% endblock %}
{% block breadcrumb %}<a href="#">创建项目</a><span class="divider">/</span><a href="#">项目详情</a><span class="divider">/</span>成员审批{% endblock %}

{% block body %}
        <div class="fill_form">
            <div class="search">                                                                   
                <form class="form-search">
                  <div class="input-append">
                    <input type="text" class="span2 search-query">
                    <button type="submit" class="btn">搜索</button>
                  </div>
                </form>
            </div>
            <div class="clearfix"></div>
            <fieldset>
                 <legend><button type="button" class="btn btn-danger edit">拒绝</button><button type="button" class="btn btn-success edit">批准</button>待审批成员</legend>
                 <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="5%" class="checkall"><input type="checkbox"></th>
                            <th width="15%">成员名称</th>
                            <th width="35%">申请理由</th>
                            <th width="10%">动作</th>
                            <th width="25%">项目</th>
                        </tr>
                    </thead>
                    <tbody class="checkboxs">
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>成员1</td>
                            <td>理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由</td>
                            <td>加入</td>
                            <td>项目1</td>                          
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>成员1</td>
                            <td>理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由</td>
                            <td>退出</td>
                            <td>项目1</td>                          
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>成员1</td>
                            <td>理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由</td>
                            <td>退出</td>
                            <td>项目1</td>                          
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>成员1</td>
                            <td>理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由</td>
                            <td>退出</td>
                            <td>项目1</td>                          
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>成员1</td>
                            <td>理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由</td>
                            <td>退出</td>
                            <td>项目1</td>                          
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="c"></td>
                            <td>成员1</td>
                            <td>理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由理由</td>
                            <td>退出</td>
                            <td>项目1</td>                          
                        </tr>
                    </tbody>
                 </table>
              </fieldset>
        </div>
        <div class="pagination">
          <ul>
            <li class="disabled"><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
        <div class="form-actions">
          <div class="row-fluid">
            <div class="span4"></div>
            <div class="span4"><button type="button" class="btn btn-large btn-block">返 回</button></div>
            <div class="span4"></div>
          </div>
        </div>
{% endblock %}
{% block extra_script %}
<script src="{{ STATIC_URL}}js/own.js"></script>
{% endblock %}